In [27]:
import pandas as pd

In [28]:
# read JSON file and remove all unnecessary columns
df = pd.read_json('kanji-individual.json') \
    .transpose() \
    .reset_index(names='kanji') \
    .drop(columns=[
        'strokes', 'grade', 'freq', 'jlpt_old', 'jlpt_new', 'meanings', 'wk_level',
        'wk_meanings', 'wk_radicals', 'wk_readings_on', 'wk_readings_kun'
    ])

In [29]:
df.sample(5)

      kanji  readings_on      readings_kun
6464      侷    [きょく, ごく]   [たけがひく.い, せま.る]
11799     髹  [きゅう, く, し]             [うるし]
12927     荣           []                []
11890     鯘     [だい, ない]            [くさ.る]
6880      啉         [らん]  [かまびす.しい, むさぼ.る]

In [30]:
# Confirm that the resulting dataset has no nulls
df.isna().sum()

kanji           0
readings_on     0
readings_kun    0
dtype: int64